/* index.css */

/* Theme Variables */
:root {
  --bg-color: #ffffff;
  --text-color: #000000;

  --navbar-bg-color: #f0f0f0;
  --link-color: #333;
  --link-hover-bg: #ddd;
  --link-hover-color: #000;
  --button-bg-color: #fff;
  --button-text-color: #333;
  --button-hover-bg-color: #ddd;
}

[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #ffffff;

  --navbar-bg-color: #333;
  --link-color: #fff;
  --link-hover-bg: #444;
  --link-hover-color: #fff;
  --button-bg-color: #444;
  --button-text-color: #fff;
  --button-hover-bg-color: #555;
}

/* Global Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body, #root {
  height: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Outfit', Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}
